
.price-wrap{
	padding-top: 8px;
	padding-bottom: 16px;
}

.price-grid{
	display: flex;
	margin-left: -8px;
	margin-right: -8px;
}
.price-grid-item{
	width: 33.33%;
	padding-left: 8px;
	padding-right: 8px;
}
.price-grid-item-inner{
	padding: 24px 24px;
	background-color: var(--white);
	border: 1px solid var(--grey200);
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.price-tag-wrap{
	padding-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
}
.price-tag-text{
	display: inline-block;
	padding: 6px 8px;
	background-color: var(--blue100);
	border: 1px solid var(--blue200);
	border-radius: 8px;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: var(--grey900);
}
.price-grid-price-wrap{
	padding-bottom: 40px;
	display: flex;
	gap:24px;
	flex-direction: column;
}
.price-number{
	font-size: 40px;
	line-height: 52px;
	font-weight: 500;
	color: var(--grey900);
}
.price-number-text{
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: var(--grey600);
	position: relative;
	font-weight: 400;
	bottom: 5px;
}

.price-des-header{
	padding-bottom: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}
.price-des-title{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--grey600);
}
.price-des-header-line{
	width: 72%;
	height: 1px;
	background-color: var(--grey200);
}

.price-des-list{
	padding-bottom: 40px;
}
.price-des-list ul{
	list-style: none;
	padding: 0;
}
.price-des-list ul li{
	padding-bottom: 16px;
	padding-left: 28px;
	color: var(--grey900);
	position: relative;
}
.price-des-list ul li:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../images/list-icon.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 18px;
	height: 18px;
}

.price-button a{
	display: block;
	padding: 14px 20px;
	border: 1px solid var(--grey200);
	border-radius: 8px;
	line-height: 20px;
	color: var(--grey900);
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
	transition: all 0.5s;
}

.price-button a:hover{
	background-color: var(--grey200);
}

.price-tag-text-popular{
	padding: 6px 8px;
	background-color: #3638FF;
	border-radius: 8px;
	color: var(--white);
	text-transform: capitalize;
	font-size: 18px;
	line-height: 20px;
}
.price-grid-item:nth-child(2) .price-grid-item-inner{
	border-color: #3638FF;
}
.price-grid-item:nth-child(2) .price-button a{
	background-color: #00A8E0;
	color: var(--white);
	border-color: #00A8E0;
}
.price-grid-item:nth-child(2) .price-button a:hover{
	background-color: transparent;
	color: #00A8E0;
}

.service-work{
	padding-bottom: 16px;
}
.service-inner{
	padding: 16px 16px;
	background-color: var(--white);
	border: 1px solid var(--grey200);
	border-radius: 12px;
}
.service-top{
	padding-bottom: 16px;
}
.service-title{
	font-size: 18px;
	line-height: 27px;
	font-weight: 500;
	color: var(--dark);
	margin: 0;
}
.service-des p{
	margin: 0;
	color: var(--grey600);
}

.service-work-grid{
	display: flex;
	margin-left: -8px;
	margin-right: -8px;
}
.service-work-grid-item{
	width: 25%;
	padding-left: 8px;
	padding-right: 8px;
}
.service-work-grid-item-inner{
	padding: 20px 20px;
	background-color: var(--white);
	border: 1px solid var(--grey200);
	border-radius: 8px;
}

.service-work-number{
	padding: 10px 10px;
	background-color: var(--blue100);
	border: 1px solid var(--blue200);
	border-radius: 4px;
	display: inline-block;
}
.service-work-number-text{
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	color: var(--blue300);
}
.service-work-grid-des{
	padding-top: 24px;
}
.service-work-grid-title{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: var(--dark);
	margin: 0;
	padding-bottom: 4px;
}
.service-work-grid-des p{
	margin: 0;
	color: var(--grey600);
}

.service-recent-fix .scans-issue-btn{
	background-color: var(--white);
	border: 1px solid var(--grey200);
	color: var(--grey900);
}
.service-recent-fix .scans-issue-btn svg path{
	fill: var(--grey900);
}
.service-recent-fix .scans-issue-btn:hover{
	background-color: var(--grey200);
	color: var(--grey900);
}
.service-recent-fix .scans-issue-btn:hover svg path{
	fill: var(--grey900);
}

.dashboard-scans-issue-grid-item:nth-child(2) .scans-tagline{
	border-color: rgba(255, 150, 0, 0.30);
	background-color: #FFF6EA;
	color: #FF9600;
}

.service-status{
	font-size: 14px;
	line-height: 18px;
	color: #2760FF;
	padding: 3px 6px;
	border: 1px solid rgba(39, 96, 255, 0.30);
	border-radius: 4px;
	background-color: #EAEFFF;
	text-transform: uppercase;
}
.service-recent-fix .dashboard-scans-issue-grid-item .dashboard-scans-issue-grid-item-col:nth-child(2){
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 16px;
}
.service-status-complete{
	color: #00A774;
	border-color: rgba(0, 167, 116, 0.30);
	background-color: #E6FFF8;
}


.monitoring-plan-des{
	padding-bottom: 24px;
		color: var(--grey600);
	font-size: 16px;
	line-height: 1.5em;
	font-weight: 400;
}
.monitoring-plan-des p{
	margin: 0;
	color: var(--grey600);
	font-size: 16px;
	line-height: 1.5em;
	font-weight: 400;

}
.monitoring-price .price-grid-price-wrap {
    padding-bottom: 20px;
}
.monitoring-price .price-grid-item:nth-child(2) .price-button a{
	border: 1px solid #00ABE6;
	background-color: transparent;
	color: #00A8E0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
.monitoring-price .price-grid-item:nth-child(2) .price-button a svg path{
	transition: all 0.5s;
}
.monitoring-price .price-grid-item:nth-child(2) .price-button a:hover{
	background-color: #00ABE6;
	color: var(--white);
}
.monitoring-price .price-grid-item:nth-child(2) .price-button a:hover svg path{
	fill: var(--white);
}
.monitoring-price .price-grid-item:nth-child(3) .price-button a{
	background-color: #00A8E0;
	border-color: #00A8E0;
	color: var(--white);
}
.monitoring-price .price-grid-item:nth-child(3) .price-button a:hover{
	background-color: transparent;
	color: #00A8E0;
}