
.price-wrap{
	padding-top: 8px;
}

.price-grid{
	display: flex;
	margin-left: -8px;
	margin-right: -8px;
}
.price-grid-item{
	width: 33.33%;
	padding-left: 8px;
	padding-right: 8px;
}
.price-grid-item-inner{
	padding: 24px 24px;
	background-color: var(--white);
	border: 1px solid var(--grey200);
	border-radius: 12px;
}
.price-tag-wrap{
	padding-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
}
.price-tag-text{
	display: inline-block;
	padding: 6px 8px;
	background-color: var(--blue100);
	border: 1px solid var(--blue200);
	border-radius: 8px;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: var(--grey900);
}
.price-grid-price-wrap{
	padding-bottom: 40px;
}
.price-number{
	font-size: 40px;
	line-height: 52px;
	font-weight: 500;
	color: var(--grey900);
}
.price-number-text{
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: var(--grey600);
	position: relative;
	bottom: 5px;
}
.price-des-header{
	padding-bottom: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}
.price-des-title{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--grey600);
}
.price-des-header-line{
	width: 72%;
	height: 1px;
	background-color: var(--grey200);
}