
.login{
	height: 100vh;
	background-color: var(--grey100);
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../images/bg-pattern.svg');
	background-repeat: no-repeat;
	background-size: cover;
}
.login-card{
	max-width: 454px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 32px 32px;
	border-radius: 12px;
	border: 1px solid var(--grey200);
	background-color: var(--white);
	position: relative;
	overflow: hidden;
}

.login-card-header{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 72px;
	position: relative;
}
.login-card-header:before{
	content: '';
	position: absolute;
	top: -32px;
	left: -32px;
	right: -32px;
	height: 120px;
	background: radial-gradient(50% 100% at 50% 0%, rgba(220, 221, 255, 0.80) 0%, #f4e6ff00 100%);
	z-index: 1;
}
.login-card-header a{
	position: relative;
	z-index: 9;
}

.login-card-des{
	padding-bottom: 20px;
}

.login-card-title{
	margin: 0;
	padding-bottom: 8px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -0.5px;
	font-weight: 500;
	color: var(--dark);
	text-transform: capitalize;
}
.login-card-des p{
	margin-bottom: 0;
	color: var(--grey600);
}


.input-field-item{
	padding-bottom: 16px;
}

.input-field-item:last-child{
	padding-bottom: 0;
}

.forgotpassword-item{
	padding-bottom: 32px;
	margin-top: -8px;
	text-align: right;
}

.input-filed{
	position: relative;
}
.input-filed input{
	padding: 13px 40px 13px 40px;
	border: 1px solid var(--grey200);
	border-radius: 8px;
	font-size: 16px;
	line-height: 20px;
	color: var(--grey500);
	width: 100%;
	transition: all 0.5s;
}

.input-filed input:focus-visible{
	outline: 0;
}
.input-filed input:focus{
	border-color: var(--green500);
}

.input-filed.inputprofile:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	background-image: url('../images/profile-icon.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 17px;
	height: 18px;
}

.input-filed.email:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	background-image: url('../images/mail-icon.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 18px;
	height: 16px;
}

.input-filed.password:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	background-image: url('../images/lock-icon.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 15px;
	height: 18px;
}

.forgotpassword{
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: var(--grey900);
}

.input-filed button{
	background-color: var(--green500);
	border-radius: 8px;
	border: 1px solid var(--green500);
	padding: 13px 20px;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	text-transform: capitalize;
	color: var(--white);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	transition: all 0.5s;
}

.input-filed button svg path{
	transition: all 0.5s;
}

.input-filed button:hover{
	background-color: transparent;
	color: var(--green500);
}
.input-filed button:hover svg path{
	fill: var(--green500);
}

.other-login{
	padding-top: 32px;
}
.other-login-top{
	margin-bottom: 24px;
	text-align: center;
	position: relative;
}
.other-login-top:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	height: 1px;
	background-color: #F0F0F5;
	z-index: 1;

}
.other-login-top-text{
	display: inline-block;
	padding-left: 12px;
	padding-right: 12px;
	background-color: var(--white);
	line-height: 20px;
	color: var(--grey500);
	position: relative;
	z-index: 9;
}
.other-login-middle{
	padding-bottom: 40px;
	display: flex;
	align-items: center;
	gap: 12px;
}
.other-login-middle a{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 12px;
	border: 1px solid var(--grey200);
	border-radius: 8px;
	gap: 8px;
	font-size: 16px;
	line-height: 20px;
	color: var(--grey900);
	text-transform: capitalize;
	text-decoration: none;
	width: 100%;
	transition: all 0.5s;
}
.other-login-middle a:hover{
	background-color: var(--grey200);
}
.other-login-bottom p{
	margin: 0;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color: var(--grey900);
}
.other-login-bottom p a{
	text-decoration: none;
	color: var(--green500);
	text-transform: capitalize;
	padding-left: 8px;
}

.login-back-button{
	padding-bottom: 32px;
}
.login-back-button-inner{
	padding: 14px 12px;
	background-color: #F5F8FF;
	border-radius: 8px;
	display: inline-block;
	line-height: 0.5;
	cursor: pointer;
}
.input-html{
	padding-bottom: 32px;
}
.input-html p{
	margin: 0;
	color: var(--grey900);
	font-size: 14px;
	line-height: 18px;
}

.checkbox-wrapper{
	display: flex;
	align-items: center;
	gap: 10px;
}
.checkbox-wrapper input[type="checkbox"] {
	appearance: none;
	width: 18px;
	height: 18px;
	border: 1px solid var(--grey300);
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	top: -2px;
}
.checkbox-wrapper input[type="checkbox"]:checked {
	background-color: var(--blue300);
}
.checkbox-wrapper input[type="checkbox"]:checked::after {
	content: "✔";
	color: var(--white);
	font-size: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.checkbox-wrapper label {
	font-size: 14px;
	line-height: 18px;
	color: var(--grey600);

}

.checkbox-wrapper a {
	color: var(--grey900);
	text-decoration: underline;
}
.inputcheckbox{
	padding-bottom: 32px;
}
.step{
	display: none;
}
.step.active{
	display: block;
}


.otp-container {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  width: 100%;
}

.otp-input {
  flex: 1;
  min-width: 0;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  color: var(--grey900);
  text-align: center;
  border: 1px solid var(--grey200);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.5s;
}


.otp-resend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.otp-resend span{
	font-size: 14px;
	line-height: 18px;
	color: var(--grey900);
}

#resendBtn,
#resendBtn span {
  background: none;
  border: none;
  color: var(--blue300);
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  margin-left: 5px;
  padding: 0;
}


.modal-wrap{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}
.modal{
	max-width: 454px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.modal-inner{
	padding: 48px 32px;
	background-color: var(--white);
	border-radius: 12px;
	text-align: center;
}
.success-icon{
	padding: 20px 20px;
	background-color: #EBFEF8;
	border-radius: 8px;
	display: inline-flex;
	margin-bottom: 24px;
}
.success-des{
	padding-bottom: 40px;
}
.success-title{
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -0.5px;
	font-weight: 500;
	color: var(--dark);
	padding-bottom: 8px;
}
.success-des p{
	margin: 0;
	color: var(--grey600);
}
.success-button a{
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 14px 20px;
	background-color: var(--green500);
	border-radius: 8px;
	border: 1px solid var(--green500);
	font-size: 16px;
	line-height: 20px;
	color: var(--white);
	text-transform: capitalize;
	width: 100%;
	transition: all 0.5s;
}
.success-button a:hover{
	background-color: transparent;
	color: var(--green500);
}

.success-button a svg path{
	transition: all 0.5s;
}
.success-button a:hover svg path{
	fill: var(--green500);
}

.input-filed button.toggle-password{
	background-color: transparent;
	border-radius: 0;
	border: 0;
	padding: 0;
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	justify-content: end;
	width: fit-content;
}
.input-filed button.toggle-password img:first-child { display: inline-block; }
.input-filed button.toggle-password img:last-child { display: none; }

