
.login{
	height: 100vh;
	background-color: var(--grey100);
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../images/bg-pattern.svg');
	background-repeat: no-repeat;
	background-size: cover;
}
.login-card{
	max-width: 454px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 32px 32px;
	border-radius: 12px;
	border: 1px solid var(--grey200);
	background-color: var(--white);
	position: relative;
	overflow: hidden;
}

.login-card-header{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 72px;
	position: relative;
}
.login-card-header:before{
	content: '';
	position: absolute;
	top: -32px;
	left: -32px;
	right: -32px;
	height: 120px;
	background: radial-gradient(50% 100% at 50% 0%, rgba(220, 221, 255, 0.80) 0%, #f4e6ff00 100%);
	z-index: 1;
}
.login-card-header a{
	position: relative;
	z-index: 9;
}

.login-card-des{
	padding-bottom: 20px;
}

.login-card-title{
	margin: 0;
	padding-bottom: 8px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -0.5px;
	font-weight: 500;
	color: var(--dark);
	text-transform: capitalize;
}
.login-card-des p{
	margin-bottom: 0;
	color: var(--grey600);
}


.input-field-item{
	padding-bottom: 16px;
}

.input-field-item:last-child{
	padding-bottom: 0;
}

.forgotpassword-item{
	padding-bottom: 32px;
	margin-top: -8px;
	text-align: right;
}

.input-filed{
	position: relative;
}
.input-filed input{
	padding: 13px 12px 13px 40px;
	border: 1px solid var(--grey200);
	border-radius: 8px;
	font-size: 16px;
	line-height: 20px;
	color: var(--grey500);
	width: 100%;
}

.input-filed.inputprofile:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	background-image: url('../images/profile-icon.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 17px;
	height: 18px;
}

.input-filed.email:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	background-image: url('../images/mail-icon.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 18px;
	height: 16px;
}

.input-filed.password:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	background-image: url('../images/lock-icon.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 15px;
	height: 18px;
}

.forgotpassword{
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: var(--grey900);
}

.input-filed button[type='submit']{
	background-color: var(--green500);
	border-radius: 8px;
	border: 1px solid var(--green500);
	padding: 13px 20px;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	text-transform: capitalize;
	color: var(--white);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.other-login{
	padding-top: 32px;
}
.other-login-top{
	margin-bottom: 24px;
	text-align: center;
	position: relative;
}
.other-login-top:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	height: 1px;
	background-color: #F0F0F5;
	z-index: 1;

}
.other-login-top-text{
	display: inline-block;
	padding-left: 12px;
	padding-right: 12px;
	background-color: var(--white);
	line-height: 20px;
	color: var(--grey500);
	position: relative;
	z-index: 9;
}
.other-login-middle{
	padding-bottom: 40px;
	display: flex;
	align-items: center;
	gap: 12px;
}
.other-login-middle a{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 12px;
	border: 1px solid var(--grey200);
	border-radius: 8px;
	gap: 8px;
	font-size: 16px;
	line-height: 20px;
	color: var(--grey900);
	text-transform: capitalize;
	text-decoration: none;
	width: 100%;
	transition: all 0.5s;
}
.other-login-middle a:hover{
	background-color: var(--grey200);
}
.other-login-bottom p{
	margin: 0;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color: var(--grey900);
}
.other-login-bottom p a{
	text-decoration: none;
	color: var(--green500);
	text-transform: capitalize;
	padding-left: 8px;
}

.login-back-button{
	padding-bottom: 32px;
}
.login-back-button-inner{
	padding: 14px 12px;
	background-color: #F5F8FF;
	border-radius: 8px;
	display: inline-block;
	line-height: 0.5;
	cursor: pointer;
}
.input-html{
	padding-bottom: 32px;
}
.input-html p{
	margin: 0;
	color: var(--grey900);
	font-size: 14px;
	line-height: 18px;
}