.quick-scan-page .right-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
}


.quick-scan-container {
    max-width: 770px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.quick-scan-heading {
    color: var(--grey900);
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3em;
    margin-bottom: 8px;
}

.quick-scan-desc {
    color: var(--grey600);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.search-box-container {
    padding: 40px;
    background-color: var(--white);
    border-radius: 12px;
    border: 1px solid var(--blue200);
    width: 100%;
}

#scan-accessibility-form {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

#scan-accessibility-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

#scan-accessibility-form .form-group label {
    color: var(--grey900);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
}

.inputcont {
    position: relative;
}

.inputcont:before {
    position: absolute;
    top: 50%;
    left: 12px;
    content: "";
    width: 18px;
    height: 18px;
    /* background-color: aqua; */
    transform: translateY(-50%);
    background-image: url("../images/glove.svg");
    /* your svg file */
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--grey500);
}

#scan-accessibility-form .form-group input {
    width: 100%;
    padding: 7px 12px 7px 42px;
    border-radius: 8px;
    border: 1px solid var(--grey200);
    height: 48px;
    color: var(--grey900);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

#scan-accessibility-form .form-group input::placeholder,
#scan-accessibility-form .form-group input::-webkit-input-placeholder {
    color: var(--grey400);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

#scan-accessibility-form .form-group input:focus {
    outline: none;
    border-color: var(--green500);
}

#scan-accessibility-form .submit-container {
    display: inline-flex;
    height: 48px;
    width: 190px;
}


 .submit-btn {
    text-decoration: none;
    border-radius: 8px;
    padding: 14px 20px;
    color: var(--white);
    background-color: var(--green500);
    border: 1px solid var(--green500);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 20px;
    transition: 0.3s ease-in-out;
    width: auto;
}

 .submit-btn:hover {
    color: var(--green500);
    background-color: var(--white);
}

 .submit-btn svg {
    height: 18px;
    width: 18px;
}





.quick-scan-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.quick-scan-card-item {
    background-color: var(--white);
    border: 1px solid var(--grey200);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.quick-scan-card-icon {
    padding: 9px;
    border-radius: 8px;
    background-color: var(--blue100);
    height: 36px;
    width: 36px;

}

.quick-scan-card-icon svg {
    height: 100%;
    width: 100%;
    color: var(--blue300);
}

.quick-scan-card-content .quick-scan-card-heading {
    font-family: "Roboto", sans-serif;
    color: var(--grey900);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 4px;
}

.quick-scan-card-content .quick-scan-card-desc {
    color: var(--grey600);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}