
.share-report{
	height: 88vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.share-report-top{
	padding-bottom: 24px;
}
.share-report-des{
	text-align: center;
}
.share-report-top-des-title{
	font-size: 32px;
	line-height: 42px;
	letter-spacing: -1px;
	font-weight: 500;
	text-transform: capitalize;
	color: var(--grey900);
	margin: 0;
	padding-bottom: 8px;
}
.share-report-des p{
	margin: 0;
	color: var(--grey600);
}

.share-report-option{
	max-width: 766px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid var(--blue200);
	border-radius: 12px;
}
.share-report-option-top{
	padding: 20px 40px;
	background-color: var(--blue100);
	border-radius: 12px 12px 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}
.share-option-title{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: var(--grey900);
}
.share-report-button{
	text-decoration: none;
	display: inline-flex;
	gap: 4px;
	align-items: center;
	padding: 8px 12px;
	border: 1px solid var(--grey200);
	border-radius: 8px;
	background-color: var(--white);
	font-size: 14px;
	line-height: 16px;
	text-transform: capitalize;
	color: var(--grey900);
	transition: all 0.5s;
}
.share-report-button:hover{
	background-color: var(--grey100);
}

.share-report-option-bottom{
	padding: 32px 40px 40px 40px;
	background-color: var(--white);
	border-radius: 0 0 12px 12px;
}
.share-report-form{
	padding-bottom: 32px;
}
.share-report-form form{
	display: flex;
	align-items: center;
	gap: 8px;
}
.share-report-form form input[type='email']{
	padding: 9.5px 12px;
	border: 1px solid var(--grey200);
	border-radius: 8px;
	font-size: 18px;
	line-height: 27px;
	color: var(--grey400);
	width: 100%;
	transition: all 0.5s;
}
.share-report-form form input[type='email']:focus{
	border-color: var(--green500);
}
.share-report-form form input[type='submit']{
	padding: 14px 20px;
	background-color: var(--green500);
	border-color: var(--green500);
	border-radius: 8px;
	color: var(--white);
	line-height: 20px;
	text-transform: capitalize;
	border: none;
	cursor: pointer;
}

.share-report-access-list{
	padding-bottom: 20px;
}
.share-report-access-list:last-child{
	padding-bottom: 0;
}
.share-report-access-list-inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.share-report-access-list-des-title{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: var(--grey900);
	text-transform: capitalize;
}
.share-report-access-list-des p{
	margin: 0;
	color: var(--grey600);
}

.share-report-access-list-des select{
	padding: 8px 28px 8px 12px;
	border: 1px solid var(--grey200);
	border-radius: 8px;
	font-size: 14px;
	line-height: 16px;
	color: var(--grey900);
	text-transform: capitalize;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url('../images/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 9px center;
    background-size: 9px 5px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 2px;
  right: 2px;
  bottom: 0;
  background-color: var(--white);
  transition: 0.4s;
  border-radius: 999px;
  border: 1px solid var(--grey200);
}


.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--grey300);
  transition: 0.4s;
  border-radius: 50%;
}


.switch input:checked + .slider {
  background-color: var(--grey800); 
}

.switch input:checked + .slider::before {
  transform: translateX(16px); 
  background-color: var(--white);
}
