@import url('_fix-services.css');
@import url('_recent-scans.css');
@import url('_monitoring.css');
@import url('_dashboard.css');
@import url('_common.css');
@import url('_notification.css');
@import url('_fix-services-summary.css');
@import url('_monitoring-sumbscripition-management.css');

/*Pranto*/


@import url('_project.css');
@import url('_quick-scan.css');
@import url('_credits.css');
@import url('_top-priority-issues.css');
@import url('_expert-audit.css');
@import url('_expert-audit-plans.css');
@import url('_project-details.css');