@import url('_recent-scans.css');
@import url('_monitoring.css');
@import url('_dashboard.css');
@import url('_common.css');
@import url('_project.css');
@import url('_quick-scan.css');
@import url('_credits.css');